* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
#menu-toggle {
    display: none;
}
.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
html {
    scroll-behavior: smooth ;
    scroll-padding-top: 90px;
}

body {
    background-color: hsl(0, 0%, 10%);
    color: white
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    background-color: hsl(0, 0%, 0%);
    border-bottom: 1px solid hsl(0, 0%, 25%);
    position: sticky;
    top: 0;
    z-index: 99;
}
.logo {
    font-size: 2rem;
    text-shadow: black 1px 1px 1px;
    font-weight: bold;
    /*color: #3ca63c;*/
    color: hsl(221, 100%, 65%);
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: hsl(0, 0%, 95%);
    text-shadow: black 1px 1px 1px;
    font-weight: bold;
    transition: color 0.2s;
    font-size: 1.2rem;
}
.nav-links a:hover {
    text-decoration: underline;
    color: hsl(120, 49%, 51%);
}
#home {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    /*margin-top: 20px;*/
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        font-family: "Franklin Gothic Medium", "Arial Narrow", serif;
        text-shadow: 2px 2px 2px #666666;
    }
    p {
        color: hsl(0, 0%, 85%);
        font-size: 25px;
        text-align: center;
        margin: 20px auto;
        padding: 0 20px;
    }
}
.intro-text {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-button {
    text-decoration: none;
    background-color: #6c5ce7;
    font-size: 1.2rem;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-top: 20px;
    align-self: center;
}
.featured-button:hover {
    background-color: #7866ff;
}
.intro-visual {
    display: flex;
    justify-content: center;
}
@keyframes float {
    0% {
        transform: translateY(0px); /* Start position */
    }
    50% {
        transform: translateY(-20px); /* Move up 20px */
    }
    100% {
        transform: translateY(0px); /* Back to start */
    }
}
#music-note {
    animation: float 3s ease-in-out infinite;
}
/*#library {*/
/*    display: flex;*/
/*    margin-top: 50%;*/
/*}*/
@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }
    .intro-visual {
        margin-top: 50px;
    }
    .hamburger {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: hsl(0, 0%, 0%);
        padding: 20px 0;
        text-align: center;
        border-top: 1px solid hsl(146 17% 59%);
        /*cursor: pointer;*/
    }
    #menu-toggle:checked ~ .nav-links {
        display: flex;
        cursor: pointer;
    }
    .nav-links li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .nav-links li:hover {
        background-color: rgba(102, 102, 102, 0.1);
    }
}